### Python ###
__pycache__/
*.py[cod]
*-so
.Python
env/
venv/
.venv
build/
dist/
*.egg-info/

### Pytest ###
.pytest_cache/

### Ruff ###
.ruff_cache/

### Jupyter Notebooks ###
-ipynb_checkpoints/
*/.ipynb_checkpoints/*

### VS Code & OS ###
.vscode/
.DS_Store
Thumbs.db

